<a href="https://colab.research.google.com/github/Shubham5787/EDA-Project-Prac/blob/main/listcompre_prac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list(range(5,0,-3))

[5, 2]

In [ ]:
name = "shubham"
for i in name :
  print(i,end = "")

shubham

In [ ]:
if 'y' in z :
  print('i am present')

i am present

In [ ]:
z = "xyz"

In [ ]:
a = "123789"  
while x in a:  
    print(x, end=" ")

TypeError: ignored

In [ ]:
for i in range(int(float('inf'))):
  print(i)

OverflowError: ignored

In [ ]:
list(range(2.0))

TypeError: ignored

In [ ]:
x = 'abcd'
for i in x :
  print(i)
  x.upper()

a
b
c
d

In [ ]:
i = 1
while False:
  if i%2==0:
    break
    print(i)
    i=i+2

In [ ]:
dict1 = {'name': 'shubham' , 'class':'be'}
for i in dict1:
  print(i)

name
class

In [ ]:
list_of_numbers = [1,2,3,4,5]
squared_numbers = [number**2 for number in list_of_numbers]
print(squared_numbers)

[1, 4, 9, 16, 25]

In [ ]:
list2 = list_of_numbers
for i in list2 :
  if i%2 == 0:
    print(i**2)
  else:
    print(i)

1
4
3
16
5

In [ ]:
new_numbers = [number**2 if number%2!=0  else number**3 for number in list_of_numbers ]
print(new_numbers)

[1, 8, 9, 64, 25]

In [ ]:
list3 = [1,5,6,7,8,9]
list0 = [number*2 if number%2 !=0 else number*3 for number in list3]
print(list0)

[2, 10, 18, 14, 24, 18]

In [ ]:
even_squared_numbers = []

for number in list_of_numbers:
  if number%2 == 0:
    squared_numbers = number**2
    even_squared_numbers.append(squared_numbers)
print(even_squared_numbers)

[4, 16]

In [ ]:
list_of_numbers = []

for num1 in range(4): 
  for num2 in range(3):
    # print(num1,num2)
    list_of_numbers.append(num2)

print(list_of_numbers)

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [ ]:
for num1 in range(4):
  for num2 in range(3):
    print(num1**2)

0
0
0
1
1
1
4
4
4
9
9
9

In [ ]:
list_of_numbers = [num1 for num1 in range(4) for num2 in range(3)]
print(list_of_numbers)

[0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3]

In [ ]:
list_of_lists = []

for num1 in range(4):
  # Append an empty sublist inside the list 
  list_of_lists.append([])
print(list_of_lists)

[[], [], [], []]

In [ ]:
list_of_lists = []

for num1 in range(4):
  # Append an empty sublist inside the list 
  list_of_lists.append([])  # [[0]] , list_of_lists[1]
  # print(list_of_lists)

  for num2 in range(3):
    # Append the elements within the sublist
    list_of_lists.append(num2)
print(list_of_lists)

[[], 0, 1, 2, [], 0, 1, 2, [], 0, 1, 2, [], 0, 1, 2]

In [ ]:
#comprehension using if / else 
list_of_cubes = [number**3 if number%2==0 else number**2 for number in range(10)]
print(list_of_cubes)

[0, 1, 8, 9, 64, 25, 216, 49, 512, 81]

In [ ]:
#nested loops in comprehension
list_of_squares = [[number1**2 for number1 in range(4)] for number2 in range(3)]
print(list_of_squares)

[[0, 1, 4, 9], [0, 1, 4, 9], [0, 1, 4, 9]]

In [ ]:
for num1 in range(5):
  for num2 in range(num1):
    print('*',end="")
  print()

*
**
***
****

In [ ]:
heisenberg_quote = "It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in. I am not in danger, Skyler. I am the danger."

In [ ]:
first_word=[]
#to get the first letter of word form the above sentence
split_word_list = heisenberg_quote.split(' ')
for word in split_word_list:
  first_word.append(word[0])
print(first_word)

['I', 'c', 't', 'e', 'w', 'm', 'N', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'I', 'a', 'n', 'i', 'd', 'S', 'I', 'a', 't', 'd']

In [ ]:
#by using list comprehension
first_word_of_letter=[words[0] for words in split_word_list]
print(first_word_of_letter)

['I', 'c', 't', 'e', 'w', 'm', 'N', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'I', 'a', 'n', 'i', 'd', 'S', 'I', 'a', 't', 'd']

In [ ]:
#appending all letters in list
name = 'shubham'
list_of_letters = [letter for letter in name ]
print(list_of_letters)

['s', 'h', 'u', 'b', 'h', 'a', 'm']

In [ ]:
days_without_day =[day[:-3] for day in days]
print(days_without_day)

['Mon', 'Tues', 'Wednes', 'Thurs', 'Fri', 'Satur', 'Sun']

In [ ]:
days = ('Monday' ,'Tuesday' ,'Wednesday' ,'Thursday' ,'Friday','Saturday','Sunday')

In [ ]:
country_city_river = [['india','Austrialia','newzealand'],['nira','misissipi','no river'],['pune','melbourne','adelade']]

In [ ]:
for country,river,city in country_city_river:
  print(river)

Austrialia
misissipi
melbourne

In [ ]:
country_city_list = dict([('India','New Delhi'),('Australia','Canberra'),('United States','Washington DC'),('England','London')])

In [ ]:
dict_country_city = dict(country_city_list).items()

In [ ]:
for country,city in dict_country_city:
  country=city
  print(country,country)

New Delhi New Delhi
Canberra Canberra
Washington DC Washington DC
London London

In [ ]:
name1 = 'shubham'
print(name1[:-2])

shubh

In [ ]:
name_class_dict = {'shubham':'be' , 'satyam':'te' , 'abhishek':'be'}

In [ ]:
name_class_dict['shubham']

'be'

In [ ]:
flipp = {}
for country, city in country_city_list.items():
    flipp[city] = country

print(flipp)

{'New Delhi': 'India', 'Canberra': 'Australia', 'Washington DC': 'United States', 'London': 'England'}

In [ ]:
for country in country_city_list:
  print(country)

India
Australia
United States
England

In [ ]:
house_area_price_dict = {1056 : 39, 2600 : 120 , 1520 : 95, 1200 : 50, 2700 : 200, 1100 : 40}

In [ ]:
#to get the list of size of houses 
house_area = list(house_area_price_dict.keys())
print(house_area)

[1056, 2600, 1520, 1200, 2700, 1100]

In [ ]:
rate_based_on = []
for size in house_area:
  rate_based_on.append(size*0.05 + 10)
print(rate_based_on)

[62.800000000000004, 140.0, 86.0, 70.0, 145.0, 65.0]

In [ ]:
rate_of_house = [size*0.05+10 for size in house_area]

In [ ]:
print(rate_of_house)

[62.800000000000004, 140.0, 86.0, 70.0, 145.0, 65.0]

In [ ]:
list_of_actual_prices = list(house_area_price_dict.values())
print(list_of_actual_prices)

[39, 120, 95, 50, 200, 40]

In [ ]:
zipped = list(zip(rate_of_house,list_of_actual_prices))

In [ ]:
list_of_square = []
for orignal,predicted in zipped:
  list_of_square.append((orignal-predicted)**2)
print(list_of_square)

[566.4400000000002, 400.0, 81.0, 400.0, 3025.0, 625.0]

In [ ]:
list_of_diff = [(old-new)**2 for old,new in zipped]
print(list_of_diff)

[566.4400000000002, 400.0, 81.0, 400.0, 3025.0, 625.0]

In [ ]:
#sigmoid 
x = [3, 9, 10, -4, -2, 1, 0, 4, 5, 7]

In [ ]:
sigmoid_of_x = []
for num in x:
  sigmoid_of_x.append(1/(1+((2.718)**-num)))
print(sigmoid_of_x)

[0.9525600725169616, 0.9998764902378104, 0.9999545550385778, 0.017993536805962367, 0.1192246961081721, 0.7310381925766541, 0.5, 0.9820064631940376, 0.9933037016996081, 0.9990882879369025]

In [ ]:
sigmoid_x = [(1/(1+((2.718)**-num))) for num in x]
print(sigmoid_x)

[0.9525600725169616, 0.9998764902378104, 0.9999545550385778, 0.017993536805962367, 0.1192246961081721, 0.7310381925766541, 0.5, 0.9820064631940376, 0.9933037016996081, 0.9990882879369025]

In [ ]:
#in list comprehension
[True if x > 0 and x < 1 else False for x in sigmoid_of_x]

[True, True, True, True, True, True, True, True, True, True]

In [ ]:
list_of_num = [num for num in sigmoid_x if num > 0.5]
print(list_of_num)

[0.9525600725169616, 0.9998764902378104, 0.9999545550385778, 0.7310381925766541, 0.9820064631940376, 0.9933037016996081, 0.9990882879369025]

In [ ]:
#3 problem

In [ ]:
my_sentence = "I have been walking and running and dancing and smiling and laughing all my life, yet it all seems pointless."

In [ ]:
new_sentence = list(my_sentence.split(" "))
new_sentence

['I',
 'have',
 'been',
 'walking',
 'and',
 'running',
 'and',
 'dancing',
 'and',
 'smiling',
 'and',
 'laughing',
 'all',
 'my',
 'life,',
 'yet',
 'it',
 'all',
 'seems',
 'pointless.']

In [ ]:
for words in new_sentence :
  if words[-3:]=='ing':
    print(words)

walking
running
dancing
smiling
laughing

In [ ]:
words_end_with = [words for words in new_sentence if words[-3:]=='ing']
words_end_with

['walking', 'running', 'dancing', 'smiling', 'laughing']

In [ ]:
custom_stop_words = ["hello","good","morning","half","year"]

In [ ]:
stop_words = {"i", "me", "my", "myself", "we", "our", "ours", "ourselves", "you", "your", "yours", "yourself", 
              "yourselves", "he", "him", "his", "himself", "she", "her", "hers", "herself", "it", "its", "itself",
              "they", "them", "their", "theirs", "themselves", "what", "which", "who", "whom", "this", "that",
              "these", "those", "am", "is", "are", "was", "were", "be", "been", "being", "have", "has", "had",
              "having", "do", "does", "did", "doing", "a", "an", "the", "and", "but", "if", "or", "because",
              "as", "until", "while", "of", "at", "by", "for", "with", "about", "against", "between", "into",
              "through", "during", "before", "after", "above", "below", "to", "from", "up", "down", "in", "out", 
              "on", "off", "over", "under", "again", "further", "then", "once", "here", "there", "when", "where",
              "why", "how", "all", "any", "both", "each", "few", "more", "most", "other", "some", "such", "no",
              "nor", "not", "only", "own", "same", "so", "than", "too", "very", "s", "t", "can", "will", "just",
              "don", "should", "now"}

In [ ]:
sentence = 'Hello, good morning folks! Today we will announce the half yearly performance results of the company. Due to the ongoing COVID-19 pandemic, our profits have declined by 60% as compared to the last year'

In [ ]:
new_sen = list(sentence.split(' '))
new_sen

['Hello,',
 'good',
 'morning',
 'folks!',
 'Today',
 'we',
 'will',
 'announce',
 'the',
 'half',
 'yearly',
 'performance',
 'results',
 'of',
 'the',
 'company.',
 'Due',
 'to',
 'the',
 'ongoing',
 'COVID-19',
 'pandemic,',
 'our',
 'profits',
 'have',
 'declined',
 'by',
 '60%',
 'as',
 'compared',
 'to',
 'the',
 'last',
 'year']

In [ ]:
stop_words.update(custom_stop_words)
print(stop_words, end=' ')

{'now', 'than', 'some', 'to', 'against', 'an', 'ours', 'yourselves', 'too', 'such', 'few', 'between', 'once', 'all', 'morning', 'whom', 'don', 'good', 'will', 'he', 'there', 'can', 'and', 'out', 'before', 'other', 'should', 'doing', 'has', 'who', 'themselves', 'no', 'these', 'was', 'again', 'she', 'were', 'i', 'their', 'only', 'through', 'why', 'my', 'but', 'under', 'you', 'itself', 'yours', 'if', 'at', 'half', 'in', 'had', 'during', 'do', 'over', 'herself', 'where', 'down', 'both', 'not', 'by', 'does', 'himself', 'him', 'its', 'nor', 'your', 'this', 'yourself', 'that', 'with', 'own', 'our', 's', 'how', 'about', 'then', 'did', 'up', 'same', 'on', 'been', 'his', 'those', 'being', 'having', 'hers', 'here', 'or', 'into', 'me', 'her', 'of', 'is', 'ourselves', 'because', 't', 'just', 'off', 'are', 'it', 'until', 'the', 'very', 'them', 'we', 'further', 'be', 'from', 'each', 'so', 'am', 'hello', 'while', 'below', 'have', 'theirs', 'when', 'what', 'more', 'myself', 'after', 'for', 'which', 'as', 'year', 'they', 'any', 'most', 'a', 'above'}

In [ ]:
new_list_words = [words for words in new_sen if words not in stop_words]
print(new_list_words)

['Hello,', 'folks!', 'Today', 'announce', 'yearly', 'performance', 'results', 'company.', 'Due', 'ongoing', 'COVID-19', 'pandemic,', 'profits', 'declined', '60%', 'compared', 'last']

In [ ]:
sentence = ' '.join(new_list_words)
sentence

'Hello, folks! Today announce yearly performance results company. Due ongoing COVID-19 pandemic, profits declined 60% compared last'

In [ ]:
number_divisible_by8 = [number for number in range(1,500) if number%8==0]
print(number_divisible_by8)

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 256, 264, 272, 280, 288, 296, 304, 312, 320, 328, 336, 344, 352, 360, 368, 376, 384, 392, 400, 408, 416, 424, 432, 440, 448, 456, 464, 472, 480, 488, 496]

In [ ]:
count_of_spaces = [sentence.count(' ')]

In [ ]:
sentence = 'Hello, good morning folks! Today we will announce the half yearly performance results of the company. Due to the ongoing COVID-19 pandemic, our profits have declined by 60% as compared to the last year'

In [ ]:
count_of_spaces

[33]

In [ ]:
split_words = sentence.split(' ')
words_less_than = [words for words in split_words if len(words)<5]

In [ ]:
words_less_than

['good',
 'we',
 'will',
 'the',
 'half',
 'of',
 'the',
 'Due',
 'to',
 'the',
 'our',
 'have',
 'by',
 '60%',
 'as',
 'to',
 'the',
 'last',
 'year']

In [ ]:
list_numbers = [num1 for num1 in range(1,1001) for num2 in range(2,10) if num1/num2==0 ]
print(list_numbers)

[]

In [ ]:
for i in sentence:
  print(i)

H
e
l
l
o
,

g
o
o
d

m
o
r
n
i
n
g

f
o
l
k
s
!

T
o
d
a
y

w
e

w
i
l
l

a
n
n
o
u
n
c
e

t
h
e

h
a
l
f

y
e
a
r
l
y

p
e
r
f
o
r
m
a
n
c
e

r
e
s
u
l
t
s

o
f

t
h
e

c
o
m
p
a
n
y
.

D
u
e

t
o

t
h
e

o
n
g
o
i
n
g

C
O
V
I
D
-
1
9

p
a
n
d
e
m
i
c
,

o
u
r

p
r
o
f
i
t
s

h
a
v
e

d
e
c
l
i
n
e
d

b
y

6
0
%

a
s

c
o
m
p
a
r
e
d

t
o

t
h
e

l
a
s
t

y
e
a
r

In [ ]:
for i in range(2.0):
  print(i)

TypeError: ignored

In [ ]:
x = 'abcd'
for i in range(len(x)):
  x(i).upper()
print(x)

TypeError: ignored

In [ ]:
string = 'my name is x'
for i in string:
  print(i,end=',')

m,y, ,n,a,m,e, ,i,s, ,x,

In [ ]:
for i in range(int(float('inf'))):
  print(i)

OverflowError: ignored

In [ ]:
for i in [1,2,3,4][::-1]:
  print(i)

4
3
2
1

In [ ]:
a = {'name':'shubham' , 'sur':'dan'}
a.pop('name')

'shubham'

In [ ]:
a = {1,'shubham'}

In [ ]:
b = 'shubham'
b.replace('shub', 'dand')

'dandham'

In [ ]:
list1 = [1,2,5]
list1.pop(2)

5

In [ ]:
my_string = 'hello world'
k = [(i.upper(),len(i)) for i in my_string]
print(k)

[('H', 1), ('E', 1), ('L', 1), ('L', 1), ('O', 1), (' ', 1), ('W', 1), ('O', 1), ('R', 1), ('L', 1), ('D', 1)]

In [ ]:
a = [1,2]
b=[3,4]
for i in zip(a,b):
  print(i)

(1, 3)
(2, 4)

In [ ]:
a = 5
b = 6
temp = a
a=b
b=temp

In [ ]:
print(a)
print(b)

6
5